<footer class="site-footer">
  <small>
    Built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    Theme based on <a href="{{ pkg.repository.url }}" target="_blank">Fernfolio</a>.
  </small>
</footer>
